service-ai-agents/tests/api/assets/sample.yml
app:
  description: UI_created_ddgo_search_sentiment
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: UI_created_ddgo_search_sentiment
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1740668197705-source-1740668208397-target
      source: '1740668197705'
      sourceHandle: source
      target: '1740668208397'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1740668325493--1740668379414-target
      source: '1740668325493'
      sourceHandle: source
      target: '1740668379414'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1740668208397-source-1740668325493-target
      selected: false
      source: '1740668208397'
      sourceHandle: source
      target: '1740668325493'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: search_termTerm
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: search_term
      height: 90
      id: '1740668197705'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_strategy: fail-branch
        provider_id: duckduckgo
        provider_name: duckduckgo
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: DuckDuckGo News Search
        tool_configurations:
          max_results: 5
          query_prefix: ''
          require_summary: 0
          timelimit: null
        tool_label: DuckDuckGo News Search
        tool_name: ddgo_news
        tool_parameters:
          query:
            type: mixed
            value: '{{#1740668197705.search_term#}}'
        type: tool
      height: 204
      id: '1740668208397'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        error_strategy: fail-branch
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: llama3.2
          provider: ollama
        prompt_template:
        - id: 94c30751-9a42-4a9d-98d3-1d02ee062fde
          role: system
          text: 'Analyze each result and determine if the sentiment is positive or
            negative: {{#1740668208397.text#}}'
        - role: user
          text: 'Analyze each result and determine if the sentiment is positive or
            negative: {{#1740668208397.text#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 134
      id: '1740668325493'
      position:
        x: 739
        y: 282
      positionAbsolute:
        x: 739
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740668325493'
          - text
          variable: output
        selected: false
        title: End
        type: end
      height: 90
      id: '1740668379414'
      position:
        x: 1075
        y: 282
      positionAbsolute:
        x: 1075
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -252.5185916222647
      y: 127.65532208815321
      zoom: 0.705947027253354
